#------------------------------------------------------------------------------#
#                            OFFICIAL UBUNTU REPOS                             #
#------------------------------------------------------------------------------#


###### Ubuntu Main Repos
deb {{ apt_repository_url }} trusty main restricted universe multiverse

###### Ubuntu Update Repos
deb {{ apt_repository_url }} trusty-security main restricted universe multiverse
deb {{ apt_repository_url }} trusty-updates main restricted universe multiverse

###### Ubuntu Extras Repo
# deb http://extras.ubuntu.com/ubuntu trusty main
