#!/bin/bash

NAME="{{ application_name }}"


echo "Starting $NAME (worker) as `whoami`"

cd {{ application_path }}
source {{ virtualenv_path }}/bin/activate
export PYTHONPATH={{ application_path }}:$PYTHONPATH

exec env DB_AUTOMIGRATION=1 python manage.py runserver -h {{ gunicorn_bind_address }} -p {{ gunicorn_bind_port_worker }}
