---
cluster:
  name: {{ cluster_name }}
  description: Cluster deployed by resource_cloud
  network: default
  allow-traffic-from-sec-groups:
    - bastion
{% if firewall_rules is defined and firewall_rules|length > 0 %}
  ext-secgroup-rules:
{% for rule in firewall_rules %}
    - {{ rule }}
{% endfor %}
{% endif %}

frontend:
  sec-key: {{ security_key }}
  image: {{ frontend_image }}
  admin-user: cloud-user
  flavor: {{ frontend_flavor }}
  public-ip: auto
{% if frontend_volumes is defined and frontend_volumes|length > 0 %}
  volumes:
{% for vol in frontend_volumes %}
    - name: {{ vol.name }}
      size: {{ vol.size }}
{%  if vol.device is defined %}
      device: {{ vol.device }}
{% endif %}
{% endfor %}
{% endif %}
  groups:
{% for group in frontend_groups %}
    - {{ group }}
{% endfor %}

node:
  sec-key: {{ security_key }}
  image: {{ node_image }}
  admin-user: cloud-user
  flavor: {{ node_flavor }}
{% if node_volumes is defined and node_volumes|length > 0 %}
  volumes:
{% for vol in node_volumes %}
    - name: {{ vol.name }}
      size: {{ vol.size }}
{%  if vol.device is defined %}
      device: {{ vol.device }}
{% endif %}
{% endfor %}
{% endif %}
  groups:
{% for group in node_groups %}    - {{ group }}
{% endfor %}
