---
cluster:
  name: {{ cluster_name }}
  description: Cluster deployed by resource_cloud
  network: default
  allow-traffic-from-sec-groups:
    - bastion
  ext-secgroup-rules:
    - tcp 22 22 192.168.1.1/32
frontend:
  sec-key: {{ security_key }}
  image: Ubuntu-14.04
  admin-user: cloud-user
  flavor: mini
  public-ip: auto
  volumes:
    - name: local_data
      size: 1
    - name: shared_data
      size: 1
  groups:
    - common
    - cluster_master
#    - hadoop_namenode
#    - hadoop_jobtracker
#    - spark_master
node:
  sec-key: {{ security_key }}
  image: Ubuntu-14.04
  admin-user: cloud-user
  flavor: mini
  volumes:
    - name: local_data
      size: 1
  groups:
    - common
    - cluster_slave
#    - hadoop_datanode
#    - hadoop_tasktracker
#    - spark_slave

provisioning_data:
  num_nodes: 2