<VirtualHost *:80>

    ServerAdmin {{ shibboleth_support_contact }}

    ServerName https://{{ domain }}:443
    UseCanonicalName On

    <Location /login>
        AuthType shibboleth
        ShibRequestSetting requireSession 1
        ShibUseHeaders On
        require shib-session

        ProxyPass http://api:{{ gunicorn_bind_port }}/login
        ProxyPassReverse http://api:{{ gunicorn_bind_port }}/login
    </Location>

</VirtualHost>
