#!/bin/bash

NAME="{{ application_name }}"

echo "Starting $NAME (worker) as `whoami`"

cd {{ application_path }}
source {{ virtualenv_path }}/bin/activate
export PYTHONPATH={{ application_path }}:$PYTHONPATH

exec python manage.py runserver -h {{ proxy_bind_address }} -p {{ proxy_bind_port_worker }}
