#.pyc files
*.pyc

#vagrant directory
.vagrant

# vim .swp files
*.swp

#built HTML docs at least in the master branch
#
doc/build/

# travis-sphinx builds to ./target by default
#
target/

#pycharm folder
#
.idea/

# coverage related artefacts
htmlcov/
.coverage
