#.pyc files
*.pyc

#vagrant directory
.vagrant

# vim .swp files
*.swp

#built HTML docs at least in the master branch
#
doc/build/

# travis-sphinx builds to ./target by default
#
target/

#pycharm folder
#
.idea/

# coverage related artefacts
htmlcov/
.coverage

# package installation directories
build/
dist/
pebbles-4.0.0.dev1-py2.7.egg-info/

# MacOS Finder cache
.DS_Store

# VSCode settings
.vscode

# bash history from an interactive development session
.bash_history

# local configuration files
/local_data/

# virtual environment installation
/venv/
.venv/

# PyTest cache
/tests/.pytest_cache/
