#
# Use 'pip-compile' from pip-tools package to generate requirements.txt from this file.
# To update: pip-compile -U --pip-args "--uploaded-prior-to <cutoff 7+ days ago>",
# then recompile requirements-ci.txt, which is constrained to this lock.

## Primary requirements
Flask
Flask-Bcrypt
Flask-HTTPAuth
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
PyJWT
cryptography
PyYAML
requests

## for drivers
kubernetes

## for s2i builds
psycopg2-binary
gunicorn

## for testing
pytest
selenium
mock
coverage
responses
pyfakefs

# for hot-reload in development
inotify

# for logging
pylogbeat

# for generating requirements.txt
pip-tools

# for PyCharm remote debugging
# pydevd-pycharm
