## Primary requirements

alembic==1.4.3
dpath==1.5.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-SSO==0.4.0
Flask-Testing==0.7.1
Flask-WTF==0.14.2
itsdangerous==1.1.0
names==0.3.0
pycrypto==2.6.1
python-dateutil==2.8.1
python-jose[cryptography]==3.2
PyYAML==5.3.1
requests==2.22.0
SQLAlchemy==1.3.7
SQLAlchemy-Utils==0.34.1
Werkzeug==0.15.5
WTForms==2.2.1
WTForms-Alchemy==0.16.9

# for s2i builds
psycopg2==2.8.6
gunicorn==20.0.4

# for pycharm remote debugging (PyCharm 2020.3)
#pydevd-pycharm~=203.7148.72

# for testing
selenium==3.141.0
mock==3.0.5
coverage==5.3
flake8==3.8.3

# for drivers
kubernetes==11.0.0
openshift==0.11.2

# for documentation
pbr==5.5.0

# for hot-reload in development
inotify==0.2.10
