<div>
    <h2>Account</h2>
    <div class="row">
        <div class="col-md-12">
            <p><strong>User:</strong> {{ getUserName() }}</p>
            <!--<p><strong>Credits Spent:</strong>  {{ credits_spent | number }} /  <strong>Total Credits:</strong> {{ credits_quota | number}}</p>-->
        </div>
    </div>


    <div class="row" ng-hide="isAdmin()">
       <div class="col-md-6">
      <h3> User Workspaces </h3>
          <div class="row">
              <div class="col-md-6">
                  <button ng-click="openWorkspaceJoinModal()" type="submit" class="btn btn-primary">Join Workspace</button>
              </div>
          </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Role</td>
            <td ng-show="isWorkspaceManagerOrAdmin()">Join Code</td>
            <td>Details</td>
            <td></td>

            </tr>
            </thead>
            <tbody>
                <tr ng-hide="workspace_list_exit != undefined && workspace_list_exit.length">
                    <td colspan="2">No workspaces found. Make sure you have joined a workspace.</td>
                </tr>

                <tr ng-repeat="workspace in workspace_list_exit">
                    <td>{{workspace.name}}</td>
                    <td>
                        <span ng-class="{user:'label label-default', manager:'label label-primary', owner:'label label-success'}[workspace.role]">{{workspace.role}}</span>
                    </td>
                <td ng-hide="workspace.role=='user' || !isWorkspaceManagerOrAdmin()">{{workspace.join_code}}</td>
            <td ng-show="workspace.role=='user' && isWorkspaceManagerOrAdmin()">-</td>
            <td>{{workspace.description}}</td>
                    <td>
                        <button ng-click="exit_workspace(workspace)" class="btn btn-danger">
                          Exit Workspace
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Change Password</h3>
            <form name="changePasswordForm" class="form-activate" ng-submit="update_password()">
                <input type="password" class="form-control"
                ng-model="user.password" ng-minlength="8" data-ng-class="{'ng-invalid':changePasswordForm.confirmPassword.$error.match}" placeholder="Password" required>
                <input type="password" class="form-control" name="confirmPassword" ng-model="user.passwordConfirm" match="user.password" placeholder="Verify password" required>
                <div data-ng-show="changePasswordForm.confirmPassword.$error.match" class="alert alert-danger" role="alert">Passwords do not match or password is too short!</div>
                <div ng-show="change_password_msg_visible()" class="alert alert-info" role="alert">{{ change_password_msg() }}</div>
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="changePasswordForm.$invalid" type="submit">Change</button>
            </form>
        </div>
    </div>

</div>
