<div class="col-md-6 col-md-offset-3">
    <form ng-hide="activation_success()" name="activationForm" class="form-activate" ng-submit="activate_user()">
        <h2 class="form-signin-heading">Activate your account</h2>
            <input type="password" class="form-control" ng-model="user.password" ng-minlength="8"  data-ng-class="{'ng-invalid':activationForm.confirmPassword.$error.match}" placeholder="Password" required autofocus>
            <input type="password" class="form-control" name="confirmPassword" ng-model="user.passwordConfirm" match="user.password" placeholder="Verify password" required>
            <div data-ng-show="activationForm.confirmPassword.$error.match" class="alert alert-danger" role="alert">
                Passwords do not match or password is too short!
            </div>

            <button class="btn btn-lg btn-primary btn-block" ng-disabled="activationForm.$invalid" type="submit">Activate</button>
  </form>
  <div ng-show="activation_error()" class="alert alert-danger" role="alert">
      <span class="sr-only">Error:</span> Activation error: {{ get_error_msg() }}
  </div>
</div>
