<div id="admin-dashboard">
  <div>
    <ul class="nav nav-pills">
      <li ng-class="toggleClass('default')"><a href="" ng-click="currentView='default'">Blueprints/Instances</a></li>
      <li ng-class="toggleClass('driverconfigs')"><a ng-show="isAdmin()" ui-sref="hello" ng-click="currentView='driverconfigs'">Driver Configs</a></li>
      <li ng-class="toggleClass('pools')"><a ng-show="isAdmin()" href = "" ng-click="currentView='pools'">Driver Hosts</a></li>
    </ul>
  </div>
  <div id="default" class="dashbox" ng-show="isCurrentView('default')">
    <h2>Blueprints</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Group</td>
                <td>Life-time</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="blueprints != undefined && (blueprints | filter : {is_enabled: 'true'}).length">
                <td colspan="4">No blueprints</td>
            </tr>
            <tr ng-repeat="blueprint in blueprints | filter : { is_enabled: 'true' }">
                <td>{{ blueprint.name }}</td>
                <td>{{ blueprint.group_name }}</td>
                <td><lifetime value="{{ blueprint.maximum_lifetime }}" maximum-lifetime="{{ blueprint.maximum_lifetime }}"/></td>
		<td>
		    <div ng-show ="showHtml">
		        <span id="admin-pre-background" ng-bind-html="blueprint.config.description"></span>
			<a href ng-click="showHtml=!showHtml">(render PLAINTEXT)</a>
	            </div>
		    <div ng-hide ="showHtml">
		        {{blueprint.config.description}}
		        <a href ng-click="showHtml=!showHtml">(render HTML)</a>
		    </div>
		</td>
                <td>
                    <a ng-click="provision(blueprint)" class="btn btn-primary" ng-hide="blueprint.config.needs_ssh_keys && !keypair_exists()" ng-disabled="maxInstanceLimitReached(blueprint)">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Launch
                    </a>
                    <a class="btn" ng-click="showMaxInstanceLimitInfo()" ng-show="maxInstanceLimitReached(blueprint)">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                    <span ng-show="blueprint.config.needs_ssh_keys && keypairs && !keypair_exists()">
                        To launch instances, first <a href="/#/account">add SSH keys</a>.
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Instances</h2>
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
                        <input id="query" class="form-control" ng-model="query" placeholder="Filter instance list"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="toggleAdvancedOptions()" type="button">{{ showAdvancedOptions ? "Hide" : "Show" }}  advanced options</button>
                            <button class="btn btn-danger" ng-click="openDestroyDialog(null)" ng-disabled="noMarkedInstances()" type="button">Destroy selected instances</button>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="showAdvancedOptions" class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Offset</div>
                        <input type="number" class="form-control" ng-model="offset">
                        <div class="input-group-addon">Limit</div>
                        <input type="number" class="form-control" ng-model="limit">
                        <span class="input-group-addon">
                            Include deleted
                            <input type="checkbox" ng-click="updateInstanceList()" ng-model="include_deleted">
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="applyFilters()" type="button">Refresh</button>
                            <button class="btn btn-default" ng-click="resetFilters()" type="button">Reset filters</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <td><input type="checkbox" ng-model="checkAll" ng-change="markAll()"></td>
            <td>Name</td>
            <td>State</td>
            <td>Blueprint</td>
            <td>User</td>
            <td>Access</td>
            <td>Life-time left</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="instances != undefined && (instances | filter:query).length">
                <td colspan="7">No instances</td>
            </tr>
            <tr ng-repeat="instance in instances | filter:query">
                <td><input type="checkbox" ng-init='marked=false' ng-model='marked' ng-checked="checkAll || isMarked(instance)" ng-disabled="instance.state=='deleting'" ng-click="markInstance(marked, instance)"></td>
                <td><a href="#/instance_details/{{ instance.id }}"> {{instance.name}}</a></td>
                <td>{{instance.state}} {{ instance.error_msg ? " ("+instance.error_msg+")" : "" }}</td>
                <td>{{instance.blueprint}}</td>
                <td>{{instance.username}}</td>
                <td>
                    <a ng-show="['http', 'https'].indexOf(instance.instance_data['endpoints'][0]['name']) >= 0"
                       ng-click="openInBrowser(instance)" href="">
                        Open in browser
                    </a>
                    <div ng-show="instance.instance_data['endpoints'][0]['name']=='SSH'">
                        {{ instance.instance_data['endpoints'][0].access }}
                    </div>
                </td>
                <td><lifetime value="{{ instance.lifetime_left }}" maximum-lifetime="{{ instance.maximum_lifetime }}"/></td>
                <td>
                    <button ng-click="deprovision(instance)" type="submit" class="btn btn-danger" ng-disabled="instance.state=='deleting'" >Destroy</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
        <small><a href="/#/user-dashboard"><span class="glyphicon glyphicon-th-large"></span> view as user</a></small> 
    </div>
</div>

  <div id="driverconfigs" class="dashbox" ng-show="isCurrentView('driverconfigs')">
   <ng-include src="'partials/driver_config_vars.html'" ng-controller="DriverConfigController"></ng-include>
  </div>

  <div id="pools" class="dashbox" ng-show="isCurrentView('pools')">
   <ng-include src="'partials/pool_configs.html'" ng-controller="PoolConfigController"></ng-include>
  </div>
</div>
