<div>
    <h2>Instance Usage Statistics</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Blueprint Name</td>
                <td>Launched Instances</td>
                <td>Running Instances</td>
                <td>Unique Users</td>
            </tr>
        </thead>
        <tbody>
           <tr ng-hide="stats != undefined && stats.blueprints.length">
                <td colspan="4">No Instances to Show</td>
            </tr>
            <tr ng-repeat="stats_item in stats.blueprints">
                <td>{{ stats_item.name }}</td>
                <td>{{ stats_item.launched_instances }}</td>
                <td>{{ stats_item.running_instances }}</td>
                <td>{{ stats_item.users }}</td>
            </tr>
        </tbody>
    </table>

     <span ng-show="stats != undefined && stats.blueprints.length"> Total Number of Running Instances: {{ stats.overall_running_instances }} </span>
</div>
