<div>
    <h2>Create Blueprints</h2>
    <h3>Templates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Details</td>
            <td>Default Lifetime</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="templates != undefined && templates.length">
                <td colspan="2">No templates found</td>
            </tr>

            <tr ng-repeat="template in templates | filter : {is_enabled : 'true'}">
                <td>{{template.name}}</td>
                <td>{{template.config.description}}</td>
                <td>{{template.config.maximum_lifetime}}</td>
                <td>
                    <button ng-click="openCreateBlueprintDialog(template)" class="btn btn-default">
                      Create Blueprint
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Blueprints</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Template</td>
            <td>Group</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="blueprints != undefined && (blueprints | filter : {is_enabled: 'true'}).length">
                <td colspan="3">No blueprints</td>
            </tr>

            <tr ng-repeat="blueprint in blueprints | filter : {manager: 'true'}">
                <td>{{blueprint.name}}</td>
                <td>{{blueprint.template_name}}</td>
                <td>{{blueprint.group_name}}</td>
                <td><lifetime value="{{ blueprint.maximum_lifetime }}" maximum-lifetime="{{ blueprint.maximum_lifetime }}"/></td>
                <td>
                    <button ng-hide="blueprint.is_enabled" ng-click="activate(blueprint)" class="btn btn-primary">Activate</button>
                    <button ng-show="blueprint.is_enabled" ng-click="deactivate(blueprint)" class="btn btn-default">Deactivate</button>
                    <button ng-click="openReconfigureBlueprintDialog(blueprint)" class="btn btn-default">Reconfigure</button>
                    <button ng-click="openBlueprintLinkDialog(blueprint)" class="btn btn-success">Link</button>
                    <button ng-confirm-click="Copy this blueprint?" ng-click="copyBlueprint(blueprint)" class="btn btn-default">Copy</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Export / Import Blueprints</h3>
    <button class="btn btn-default" ng-click="exportBlueprints()">Export</button>
    <button class="btn btn-default" ng-click="openImportBlueprintsDialog()">Import</button>
</div>
