<div>
    <h1>Configure Blueprint Templates</h1>
    <h2>Plugins</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="plugins != undefined && plugins.length">
                <td colspan="2">No enabled plugins are reported by workers</td>
            </tr>

            <tr ng-repeat="plugin in plugins">
                <td>{{plugin.name}}</td>
                <td>
                    <button ng-click="openCreateTemplateDialog(plugin)" class="btn btn-default">
                      Create Template
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Blueprint Templates</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="templates != undefined && (templates | filter : {is_enabled: 'true'}).length">
                <td colspan="3">No templates</td>
            </tr>

            <tr ng-repeat="template in templates">
                <td>{{template.name}}</td>
                <!--<td><lifetime value="{{ template.maximum_lifetime }}" maximum-lifetime="{{ template.maximum_lifetime }}"/></td>-->
                <td>{{template.config.maximum_lifetime}}</td>
                <td>
                    <button ng-hide="template.is_enabled" ng-click="activate(template)" class="btn btn-primary">Activate</button>
                    <button ng-show="template.is_enabled" ng-click="deactivate(template)" class="btn btn-default">Deactivate</button>
                    <button ng-click="openReconfigureTemplateDialog(template)" class="btn btn-default">Reconfigure</button>
                    <button ng-click="copyTemplate(template)" class="btn btn-default">Copy</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Export / Import Templates</h2>
    <button class="btn btn-default" ng-click="exportTemplates()">Export</button>
    <button class="btn btn-default" ng-click="openImportTemplatesDialog()">Import</button>

    <h2>Notifications</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Subject</td>
            <td>Broadcasted</td>
            <td>Message</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="notifications != undefined && notifications.length">
                <td colspan="4">No notifications</td>
            </tr>

            <tr ng-repeat="notification in notifications">
                <td>{{ notification.subject }}</td>
                <td>{{ notification.broadcasted | date:'medium' }}</td>
                <td>{{ notification.message }}</td>
                <td>
                    <button ng-click="openEditNotification(notification)" class="btn btn-primary btn-xs" type="button">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                    <button ng-click="deleteNotification(notification)" class="btn btn-danger btn-xs" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="openCreateNotification()">Add notification</button>

</div>
