<div ng-show="getIcons()">
    <h2>Configure Environment Templates</h2>
    <h3>Clusters</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="clusters != undefined && clusters.length">
            <td colspan="2">No clusters have been configured</td>
        </tr>

        <tr ng-repeat="cluster in clusters">
            <td>{{ cluster.name }}</td>
            <td>
                <button ng-click="openCreateTemplateDialog(cluster)" class="btn btn-default">
                    Create Template
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Environment Templates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="templates != undefined && (templates | filter : {is_enabled: 'true'}).length">
            <td colspan="3">No templates</td>
        </tr>

        <tr ng-repeat="template in templates">
            <td>{{ template.name }}</td>
            <!--<td><lifetime value="{{ template.maximum_lifetime }}" maximum-lifetime="{{ template.maximum_lifetime }}"/></td>-->
            <td>{{ template.config.maximum_lifetime }}</td>
            <td>
                <button ng-hide="template.is_enabled" ng-click="activate(template)" class="btn btn-primary">Activate
                </button>
                <button ng-show="template.is_enabled" ng-click="deactivate(template)" class="btn btn-default">
                    Deactivate
                </button>
                <button ng-click="openReconfigureTemplateDialog(template)" class="btn btn-default">Reconfigure</button>
                <button ng-click="copyTemplate(template)" class="btn btn-default">Copy</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Export / Import Templates</h3>
    <button class="btn btn-default" ng-click="exportTemplates()">Export</button>
    <button class="btn btn-default" ng-click="openImportTemplatesDialog()">Import</button>

    <h3>Messages</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Subject</td>
            <td>Broadcasted</td>
            <td>Message</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="messages != undefined && messages.length">
            <td colspan="4">No messages</td>
        </tr>

        <tr ng-repeat="message in messages">
            <td>{{ message.subject }}</td>
            <td>{{ message.broadcasted | utcToLocale:"mediumDate"}}</td>
            <td>{{ message.message }}</td>
            <td>
                <button ng-confirm-click="Do you want to email this message to all the active users?"
                        ng-click="emailMessage(message)" class="btn btn-default">Email Active Users
                </button>
                <button ng-confirm-click="Do you want to email this message to all the workspace owners?"
                        ng-click="emailMessageToWorkspaceOwner(message)" class="btn btn-default">Email Workspace
                    Owners
                </button>
            </td>
            <td>
                <button ng-click="openEditMessage(message)" class="btn btn-primary btn-xs" type="button">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>

                <button ng-click="deleteMessage(message)" class="btn btn-danger btn-xs" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="openCreateMessage()">Add message</button>
</div>
