        <h1> Driver Specific Configs </h1>
      <div class="checkbox">
          <button ng-click="toggleStatusOpen()" class="btn btn-primary">+ Expand All</button>
    </div>
    <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" is-open="panel_open" ng-repeat="driverConfig in driverConfigs">
          <uib-accordion-heading>
          {{driverConfig.namespace}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': panel_open, 'glyphicon-chevron-right': !panel_open}"></i>
          </uib-accordion-heading>
          <table class="table table-striped">
          <thead>
          <tr>
              <td colspan="2"><strong>Click values to edit</strong></td>
          </tr>
          </thead>
          <tbody>
              <tr ng-repeat="(var_key, var_value) in driverConfig.value">
              <td>
                  {{ var_key }}
              </td>
              <td>
              <editablefield
                  model="var_value"
                  viewClass="info"
                  edit-class="form-control"
                  view-class="info"
                  on-ready="updateVariable(var_key, var_value, driverConfig)">{{ var_value }}</editablefield>
              </td>
          </tr>
          <tr ng-hide="driverConfig.value">
              <td colspan="2">No defined variables</td>
          </tr>
          </tbody>
        </table>

      </div>
    </uib-accordion>
