<div ng-show="getIcons()">
    <h2>Create Environments</h2>
    <h3>Templates</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Details</td>
            <td>Default Lifetime</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="templates != undefined && templates.length">
            <td colspan="2">No templates found</td>
        </tr>

        <tr ng-repeat="template in templates | filter : {is_enabled : 'true'}">
            <td>{{ template.name }}</td>
            <td>{{ template.config.description }}</td>
            <td>{{ template.config.maximum_lifetime }}</td>
            <td>
                <button ng-click="openCreateEnvironmentDialog(template)" class="btn btn-default">
                    Create Environment
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Environments</h3>
    <div>
        <h5>Select the workspace to view the respective environments:
            <select ng-model="selectedoptionModel"
                    ng-options="environment.workspace_name as environment.workspace_name for environment in environments | filter : {manager: 'true'} | unique:'workspace_name'">
                <option value="">show-all-workspaces</option>
            </select>
        </h5>
    </div>

    <br>

    <div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" is-open="panel_open">
                <uib-accordion-heading>
                    Active Environments: <i class="pull-right glyphicon"
                                          ng-class="{'glyphicon-chevron-down':panel_open, 'glyphicon-chevron-right':!panel_open}"></i>
                </uib-accordion-heading>

                <table class="table table-striped sortorder">
                    <thead>
                    <tr>
                        <td ng-click="sortType='name'">Type</td>
                        <td ng-click="sortType='template_name'">Template</td>
                        <td ng-click="sortType='workspace_name'">Workspace</td>
                        <td>Max life-time</td>
                        <td>Expiry Date</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="environments != undefined && (environments | filter : {is_enabled: 'true'}).length">
                        <td colspan="3">No environments</td>
                    </tr>
                    <tr ng-repeat="environment in environments | filter : {manager: 'true'} | filter: selectedoptionModel | orderBy:sortType"
                        ng-if="environment.is_enabled==true">
                        <td>{{ environment.name }}</td>
                        <td>{{ environment.template_name }}</td>
                        <td>{{ environment.workspace_name }}</td>
                        <td>
                            <lifetime value="{{ environment.maximum_lifetime }}"
                                      maximum-lifetime="{{ environment.maximum_lifetime }}"/>
                        </td>
                        <td>{{ environment.expiry_time | utcToLocale:"mediumDate"}} </td>
                        <td>
                            <button ng-hide="environment.is_enabled" ng-click="activate(environment)"
                                    class="btn btn-primary">Activate
                            </button>
                            <button ng-show="environment.is_enabled" ng-click="deactivate(environment)"
                                    class="btn btn-default">Deactivate
                            </button>
                            <button ng-click="openReconfigureEnvironmentDialog(environment)" class="btn btn-default">
                                Reconfigure
                            </button>
                            <button ng-show="environment.is_enabled" ng-click="openEnvironmentLinkDialog(environment)"
                                    class="btn btn-success">Link
                            </button>
                            <button ng-confirm-click="Copy this environment?" ng-click="copyEnvironment(environment)"
                                    class="btn btn-default">Copy
                            </button>
                            <button ng-if=isAdmin()
                                    ng-confirm-click="Do you want to permanently archive this environment?"
                                    ng-click="archiveEnvironment(environment)" class="btn btn-default">Archive
                            </button>
                            <button ng-click="deleteEnvironment(environment)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion>
    </div>

    </br>

    <div>
        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" is-open="panel_open1">
                <uib-accordion-heading>
                    Deactive Environments: <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down':panel_open1, 'glyphicon-chevron-right':!panel_open1}"></i>
                </uib-accordion-heading>

                <table class="table table-striped sortorder">
                    <thead>
                    <tr>
                        <td ng-click="sortType='name'">Type</td>
                        <td ng-click="sortType='template_name'">Template</td>
                        <td ng-click="sortType='workspace_name'">Workspace</td>
                        <td>Max life-time</td>
                        <td>Expiry Date</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="environments != undefined && (environments | filter : {is_enabled: 'true'}).length">
                        <td colspan="3">No environments</td>
                    </tr>
                    <tr ng-repeat="environment in environments | filter : {manager: 'true'} | filter: selectedoptionModel | orderBy:sortType"
                        ng-if="environment.is_enabled==false || environment.is_enabled==undefined">
                        <td>{{ environment.name }}</td>
                        <td>{{ environment.template_name }}</td>
                        <td>{{ environment.workspace_name }}</td>
                        <td>
                            <lifetime value="{{ environment.maximum_lifetime }}"
                                      maximum-lifetime="{{ environment.maximum_lifetime }}"/>
                        </td>
                        <td>{{ environment.expiry_time | utcToLocale:"mediumDate"}} </td>
                        <td>
                            <button ng-hide="environment.is_enabled" ng-click="activate(environment)"
                                    class="btn btn-primary">Activate
                            </button>
                            <button ng-show="environment.is_enabled" ng-click="deactivate(environment)"
                                    class="btn btn-default">Deactivate
                            </button>
                            <button ng-click="openReconfigureEnvironmentDialog(environment)" class="btn btn-default">
                                Reconfigure
                            </button>
                            <button ng-show="environment.is_enabled" ng-click="openEnvironmentLinkDialog(environment)"
                                    class="btn btn-success">Link
                            </button>
                            <button ng-confirm-click="Copy this environment?" ng-click="copyEnvironment(environment)"
                                    class="btn btn-default">Copy
                            </button>
                            <button ng-if=isAdmin()
                                    ng-confirm-click="Do you want to permanently archive this environment?"
                                    ng-click="archiveEnvironment(environment)" class="btn btn-default">Archive
                            </button>
                            <button ng-click="deleteEnvironment(environment)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-accordion>

    </div>

    <h3>Export / Import Environments</h3>
    <button class="btn btn-default" ng-click="exportEnvironments()">Export</button>
    <button class="btn btn-default" ng-click="openImportEnvironmentsDialog()">Import</button>

</div>
