<div ng-show="getIcons()">
    <h2>Groups</h2>

    <table class="table table-striped">
    <tbody>
    <tr>
    <button ng-click="openCreateGroupDialog()" class="btn btn-primary">Create A New Group</button>
    </tr>
    </tbody>
    </table>
    <h3>List of Available Groups</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><label>Name</label></td>
            <td ng-show="isAdmin()"><label>Owner</label></td>
            <td><label>Join Code</label></td>
            <td><label>Description</label></td>
            <td></td>
            <td ng-show="isAdmin()"></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups | filter:includeRow">
            <td>{{group.name}}</td>
            <td ng-show="isAdmin()">{{group.owner_eppn}}</td>
            <td>{{group.join_code}}</td>
            <td>{{group.description}}</td>
            <td>
                <button ng-click="openModifyGroupDialog(group)" type="submit" class="btn btn-default">Modify</button>
                <span ng-show="isGroupOwnerOrAdmin()">
                     <button ng-click="showUsers(group)" class="btn btn-default">Show Users</button>
                </span>
                <span ng-show="isAdmin() && group.name !='System.default'">
	            <button ng-show=isAdmin() ng-confirm-click="Do you want to permanently archive this group? Note that blueprints created in this group will also be archived." ng-click="archiveGroup(group)" class="btn btn-default">Archive</button>
                    <button ng-confirm-click="Delete this group?" ng-click="deleteGroup(group)" class="btn btn-danger">Delete</button>
                </span>
                <span ng-show="isGroupOwnerOrAdmin() && group.name !='System.default'">
                    <button ng-show="isGroupOwnerOrAdmin()" ng-confirm-click="This will remove all but Group Owner from this group. Do you want to continue?" 
                    ng-click="clearUsersFromGroup(group)" class="btn btn-danger">Clear Users</button>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
