<div class="col-md-4 col-md-offset-4">
    <div ng-hide="isInitialized()">
        <form name="initializationForm" class="form-activate default-form-color" ng-submit="initialize_user()">
            <h2 class="form-signin-heading">Create admin account</h2>

            <input type="email" class="form-control initial-input" name="validEmail" ng-model="user.email" placeholder="Email" required autofocus>
            <div data-ng-show="initializationForm.validEmail.$error.email" class="alert alert-danger" role="alert">Incorrect email address!</div>

            <input type="password" class="form-control initial-input" ng-model="user.password"  data-ng-class="{'ng-invalid':initializationForm.confirmPassword.$error.match}" placeholder="Password" required>
            <input type="password" class="form-control initial-input" name="confirmPassword" ng-model="user.passwordConfirm" match="user.password" placeholder="Verify password" required>
            <div data-ng-show="initializationForm.confirmPassword.$error.match" class="alert alert-danger" role="alert">Passwords do not match!</div>
            <div data-ng-hide="initializationForm.confirmPassword.$error.match" class="alert alert-info" role="alert">This will create your admin account</div>

            <button class="btn btn-lg btn-primary btn-block default-form-btn" ng-disabled="initializationForm.$invalid" type="submit">Create</button>
        </form>
    </div>
    <div ng-show="isInitialized()" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>Admin user is already initialized
    </div>
</div>
