<div>
    <h2>Technical details</h2>
    <dl>
        <dt>ID:</dt>
        <dd>{{ instance.id }}</dd>
	<dt>Instance name:</dt>
	<dd>&quot;{{ instance.name }}&quot;</dd>
        <dt>Environment:</dt>
        <dd>{{ environment.name }}</dd>
        <dt>State:</dt>
        <dd>{{ instance.state }}</dd>
        <dt>Provisioned at:</dt>
        <dd>{{ instance.provisioned_at }}</dd>
        <dt>Lifetime left:</dt>
        <dd>
            <lifetime value="{{ instance.lifetime_left }}"></lifetime>
        </dd>
        <dt>User:</dt>
        <dd>{{ instance.username }}</dd>
        <dt>Public IP:</dt>
        <dd>{{ instance.public_ip }}</dd>

        <dt ng-repeat-start="endpoint in instance.instance_data['endpoints']">Access: {{ endpoint.name }}</dt>
        <dd ng-repeat-end><pre>{{ endpoint.access }}</pre></dd>

    </dl>

    <dl ng-show="instance.can_update_connectivity && instance.state=='running'">

        <dt>Client IP:</dt>
        <dd>{{ instance.client_ip }}
            <form name="updateClientIpForm">
                <button ng-click="get_my_ip()" type="submit" class="btn btn-default">Query client IP -></button>
                <input type="text" ng-model="new_client_ip"/>
                <button class="btn" type="submit" ng-click="update_client_ip()">Change client IP</button>
            </form>
        </dd>
    </dl>

    <label>Instance provisioning logs</label>
    <pre>{{ getLogs(instance, "provisioning") }}</pre>
    <br>
    <label>Running instance logs (For debugging)</label>
    <pre>{{ getLogs(instance, "running") }}</pre>
      <div>
       <button ng-click="fetchRunningLogs(instance)" class="btn btn-primary">Get Running Logs <i ng-show="log_loading" class="fa fa-spinner fa-spin"></i></button>
    </div>
    <br>
    <br>
    <div>
       <a href="#/dashboard/">Back</a>
    </div>
</div>
