<div>
    <h2>Technical details</h2>
    <dl>
        <dt>ID:</dt>
        <dd>{{ instance.id }}</dd>
	<dt>Instance name:</dt>
	<dd>&quot;{{ instance.name }}&quot;</dd>
        <dt>Blueprint:</dt>
        <dd>{{ blueprint.name }}</dd>
        <dt>State:</dt>
        <dd>{{ instance.state }}</dd>
        <dt>Provisioned at:</dt>
        <dd>{{ instance.provisioned_at }}</dd>
        <dt>Lifetime left:</dt>
        <dd>
            <lifetime value="{{ instance.lifetime_left }}"></lifetime>
        </dd>
        <dt>User:</dt>
        <dd>{{ instance.username }}</dd>
        <dt>Public IP:</dt>
        <dd>{{ instance.public_ip }}</dd>

        <dt ng-repeat-start="endpoint in instance.instance_data['endpoints']">Access: {{ endpoint.name }}</dt>
        <dd ng-repeat-end><pre>{{ endpoint.access }}</pre></dd>

    </dl>

    <dl ng-show="instance.can_update_connectivity && instance.state=='running'">

        <dt>Client IP:</dt>
        <dd>{{ instance.client_ip }}
            <form name="updateClientIpForm">
                <button ng-click="get_my_ip()" type="submit" class="btn btn-default">Query client IP -></button>
                <input type="text" ng-model="new_client_ip"/>
                <button class="btn" type="submit" ng-click="update_client_ip()">Change client IP</button>
            </form>
        </dd>
    </dl>

    <label>Latest entries in provisioning log</label>
    <pre>{{ getLogs(instance) }}</pre>
    <br>
    <label>Latest entries in running log</label>
    <pre>logs appear here</pre>
      <div>
       <button ng-click="" class="btn btn-primary">Get Logs</button>
    </div>
    <br>
    <br>
    <div>
       <a href="#/dashboard/">Back</a>
    </div>
</div>
