<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Environment Template</h4>
</div>
<div class="modal-body">
    <form name="ngform">
        <label class="control-label">Select Attributes to be Overriden by Workspace Owners</label>
        <div id="allowed_attrs" ng-dropdown-multiselect="" options="attrsData" selected-model="attrsModel" extra-settings="attrsSettings"></div>
        <div
          sf-model="backend.model"
          sf-form="backend.form"
          sf-schema="backend.schema"/>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="createTemplate(ngform, backend.model, attrsModel)" class="btn btn-primary">Create</button>
    <button ng-click="cancel()" class="btn btn-default" >Close</button>
</div>
