<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Invite users</h4>
</div>
<div class="modal-body">
    <form class="form" ng-submit="invite_users()">
        <div class="form-group">
            <label for="listOfEmails">Emails</label>
            <textarea ng-model="invitedUsers" class="form-control" rows="10" id="listOfEmails"></textarea>
        </div>
        <div>
           <input ng-model="life_span" class="form-control" type="number" required/>
        <div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="submit" class="btn btn-primary" ng-click="invite_users(invitedUsers)">Invite</button>
</div>
