<div class="modal-header">
    <h4 class="modal-title">Delete Environments</h4>
</div>
<div class="modal-body">
    <h4 ng-show="environment_instances.length">Currently Instances are running using this environment. By clicking Yes, you understand that the associated instances will also be destroyed." </h4>
    <h4 ng-hide="environment_instances.length">There are currently no instances attached with this environment. Do you really want to delete the environment? </h4>
</div>
<div class="modal-footer">
    <button ng-click="removeEnvironments()" class="btn btn-primary">Yes</button>
    <button ng-click="cancel()" class="btn btn-default" >No</button>
</div>
