<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update Environment Template Config</h4>
</div>
<div class="modal-body">
    <form name="ngform2">
        <label class="control-label">Select Attributes to be Overriden by Workspace Owners</label>
        <!-- <label for="userSelect">Select Users to Add</label>-->
        <div id="allowed_attrs" ng-dropdown-multiselect="" options="attrsData" selected-model="attrsModel" extra-settings="attrsSettings"></div>
        <div class="form-activate"
          sf-model="template.config"
          sf-form="template.form"
          sf-schema="template.schema"/>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="updateTemplate(ngform2, template.config, attrsModel)" class="btn btn-primary">Update</button>
    <button ng-click="cancel()" type="button" class="btn btn-default" >Close</button>
</div>
