<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update quota</h4>
</div>
<div class="modal-body">
    <form class="form-inline">
        <h4>Users affected by quota change:</h4>
        <ul>
            <li ng-repeat="user in users | filter:includeRow">
                {{ user.eppn }}
            </li>
            <li ng-hide="users.length"><strong>All users</strong></li>
        </ul>
        <hr>

        <div ng-hide="users.length==0">
	    <h4> Workspace quota: {{workspace_quota}} </h4>
	    <h4> Environment quota for each workspace by default: 10 </h4>
            <h4> Total environments: {{user_environment_info()}} </h4>

            <uib-accordion close-others="false">
              <div uib-accordion-group class="panel-default" is-open="panel_open">
                <uib-accordion-heading>
                Active Environments: {{active_environments.length}} <i class="pull-right glyphicon"  ng-class="{'glyphicon-chevron-down':panel_open, 'glyphicon-chevron-right':!panel_open}"></i>
                </uib-accordion-heading> 
	        <table class="table table-striped">
                  <thead>
                    <tr>
                      <td><label>Environment Name</label></td>
                      <td><label>Workspace</label></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat="active_bp in active_environments">
                      <td>{{active_bp.name}}</td>
                      <td>{{active_bp.workspace_name}}</td>
                    </tr>
                  </tbody>
                </table>	
              </div>
            </uib-accordion>

            <uib-accordion close-others="false">
              <div uib-accordion-group class="panel-default" is-open="panel_open">
                <uib-accordion-heading>
                Archived Environments: {{archived_environments.length}} <i class="pull-right glyphicon"  ng-class="{'glyphicon-chevron-down':panel_open, 'glyphicon-chevron-right':!panel_open}"></i>
                </uib-accordion-heading>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td><label>Environment Name</label></td>
                      <td><label>Workspace</label></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat="archived_bp in archived_environments">
                      <td>{{archived_bp.name}}</td>
                      <td>{{archived_bp.workspace_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </uib-accordion> 

            <uib-accordion close-others="false">
              <div uib-accordion-group class="panel-default" is-open="panel_open">
                <uib-accordion-heading>
                Deleted Environments: {{deleted_environments.length}} <i class="pull-right glyphicon"  ng-class="{'glyphicon-chevron-down':panel_open, 'glyphicon-chevron-right':!panel_open}"></i>
                </uib-accordion-heading>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td><label>Environment Name</label></td>
                      <td><label>Workspace</label></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  ng-repeat="deleted_bp in deleted_environments">
                      <td>{{deleted_bp.name}}</td>
                      <td>{{deleted_bp.workspace_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </uib-accordion>
  
        </div>
        <hr>

        <div ng-show="users[0].is_workspace_owner">
          <h4> Choose the quota to update: </h4>
          <div  class="radio">
             <label>
                <h4><input ng-model="formdata.valueQuota" type="radio" name="valueQuota" value="workspace_quota_value">
                workspace quota</h4>
             </label>
          </div>
          </br>
          <div ng-show ="formdata.valueQuota" >
             </br>
             <i><p>Add or set given amount of credits to quota(s)</p></i>
             <label>Amount:</label>
             <input ng-model="addedAmount" class="form-control" type="number" required/>
             <button ng-click="increase_quota(addedAmount)" class="btn btn-primary">Add</button>
             <button ng-click="set_quota(addedAmount)" class="btn btn-primary">Set</button>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" type="button" class="btn btn-default" >Close</button>
</div>
