<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Blueprint</h4>
</div>
<div class="modal-body">
    <label class="control-label">Select Group</label>
    <select name="groupSelect" class="form-control" id="groupSelect" ng-model="groupModel">
        <option ng-repeat="group in groups" value="{{group.id}}">{{group.name}}</option>
    </select>
    <form name="ngform">
        <div
          sf-model="template.blueprint_model"
          sf-form="template.blueprint_form"
          sf-schema="template.blueprint_schema"/>
    </form>
    <label>Enter the time in months before expiration</label>
    <i><br/>Default expiry date is 6 months from creation</i>
    <input ng-model="bpLifespanMonths" class="form-control" type="number"/>
</div>
<div class="modal-footer">
    <button ng-disabled="!groupModel" ng-click="createBlueprint(ngform, template.blueprint_model, groupModel)" class="btn btn-primary">Create</button>
    <button ng-click="cancel()" class="btn btn-default" >Close</button>
</div>
