<div class="modal-header">
    <h4 class="modal-title">Login Password</h4>
</div>
<div class="modal-body">
    <p>In order to login, use the following credentials.</p>
    <span ng-show="environment[0].full_config.miscellaneous_options.miscellaneous">
        <label>User name: rstudio</label> <br>
    </span>
    <label>Password: <input id="password" value="{{instance.instance_data.password}}" readonly></label>
    <p>When you click on the button, the password is automatically copied to the clipboard</p>
</div>
<div class="modal-footer">
    <button ng-click="copyAndClose()" class="btn btn-primary" >Click to copy password & proceed</button>
</div>
