<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Update quota</h4>
</div>
<div class="modal-body">
    <form class="form-inline">
        <h4>Users affected by quota change:</h4>
        <ul>
            <li ng-repeat="user in users | filter:includeRow">
                {{ user.eppn }}
            </li>
            <li ng-hide="users.length"><strong>All users</strong></li>
        </ul>
        <hr>

        <h4> Choose the quota to update: </h4>
        <div class="radio">
          <label>
             <h4><input ng-model="formdata.valueQuota" type="radio" name="valueQuota" value="credits_quota_value">
             credits quota</h4>
          </label>
        </div>
        </br>
        <div  ng-show="users[0].is_group_owner" class="radio">
           <label>
              <h4><input ng-model="formdata.valueQuota" type="radio" name="valueQuota" value="group_quota_value">
              group quota</h4>
           </label>
        </div>
        </br>
        <div  ng-show="users[0].is_group_owner" class="radio">
           <label>
              <h4><input ng-model="formdata.valueQuota" type="radio" name="valueQuota" value="blueprint_quota_value">
              blueprint quota</h4>
           </label>
        </div>

        <div ng-show ="formdata.valueQuota" >
           </br>
           <i><p>Add or set given amount of credits to quota(s)</p></i>
           <label>Amount:</label>
           <input ng-model="addedAmount" class="form-control" type="number" required/>
           <button ng-click="increase_quota(addedAmount)" class="btn btn-primary">Add</button>
           <button ng-click="set_quota(addedAmount)" class="btn btn-primary">Set</button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" type="button" class="btn btn-default" >Close</button>
</div>
