<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create message</h4>
</div>
<div class="modal-body">
    <form>
        <div class="input-workspace">
            <label for="messageSubject">Subject</label>
            <input ng-model="message.subject" type="text" class="form-control" id="messageSubject" placeholder="message subject">
        </div>

        <div class="input-workspace">
            <label for="messageMessage">Message</label>
            <textarea ng-model="message.message" type="text" class="form-control" id="messageMessage" placeholder="message message" rows="3"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="createmessage(message)" class="btn btn-primary">Create</button>
    <button ng-click="cancel()" class="btn btn-default" >Close</button>
</div>
