<div uib-collapse="navCollapsed" ng-controller="NavbarController" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li ng-class="{ active: isActive('/dashboard'),
                    activeAdmin: isActive('/admin-dashboard')}"><a ng-show="isLoggedIn()" href="#/dashboard">{{ getIcons()[0] }}</a></li>
    <li ng-class="{ active: isActive('/users')}"><a ng-show="getIcons()[1]" href="#/users">{{ getIcons()[1] }}</a></li>
    <li ng-class="{ active: isActive('/workspaces')}"><a ng-show="getIcons()[2]" href="#/workspaces">{{ getIcons()[2] }}</a></li>
    <li ng-class="{ active: isActive('/environments')}"><a ng-show="getIcons()[3]" href="#/environments">{{ getIcons()[3] }}</a></li>
    <li ng-class="{ active: isActive('/configure')}"><a ng-show="getIcons()[4]" href="#/configure">{{ getIcons()[4] }}</a></li>
    <li ng-class="{ active: isActive('/admin-stats')}"><a ng-show="getIcons()[5]" href="#/admin-stats">{{ getIcons()[5] }}</a></li>
    <li ng-class="{ active: isActive('/account')}"><a ng-show="isLoggedIn()" href="#/account">{{ getIcons()[6] }}</a></li>
  </ul>

  <div ng-show="isLoggedIn()" class="navbar-form navbar-right">
    <form ng-submit="logout()">
        <button id="logout" type="submit" class="btn btn-success">Log out</button>
    </form>
  </div>
   <div ng-show="isLoggedIn()" class="navbar-right">
   <p class="navbar-text">{{ getUserName() }}</p>
   </div>
</div>
