<div ng-show="users">
    <h2>Users</h2>
    <div class="row div-bottom default">
        <div class="col-md-6">
            <form name="add_user_form">
                <div class="input-group">
                    <input name="email" class="form-control" type="email" ng-model="new_user" placeholder="Email" required />
                    <span class="input-group-btn">
                        <button ng-click="add_user(new_user)" type="submit" class="btn btn-default">Invite</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" data-toggle="modal" ng-click="open_invite_users_dialog()">
              Invite multiple...
            </button>
            <button type="button" class="btn btn-default" ng-click="open_quota_dialog([])">
              Update quotas...
            </button>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>
                        <input id="query" class="form-control" ng-model="filter_str" ng-change="filterUsers()" placeholder="Filter users"/>
                        <span class="input-group-addon">
                            Include deleted
                            <input type="checkbox" ng-model="include_deleted" aria-label="Include deleted">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
         <div class="col-md-4">
         <ul uib-pagination total-items="totalUsers" ng-model="currentPage" max-size="visiblePages" items-per-page="itemsPerPage" ng-change="loadPage()" class="pagination-md" boundary-link-numbers="true" rotate="false"></ul> 
         </div>
         <div class="col-md-4">
           <form>
             <div class="input-group" style="margin-top:6%">
               <span class="input-group-addon">Show</span>
                <select class="form-control" ng-model="selectedUserType" ng-change="showSelectedUsers()" ng-options="userType for userType in userTypes">
                </select>
             </div>
           </form>
        </div>
         <div class="col-md-4">
           <form>
             <div class="input-group" style="margin-top:6%">
               <span class="input-group-addon">Items per page</span>
               <input class="form-control" type="number" ng-model="itemsPerPage" ng-change="changePageSize()" placeholder="Max items per page" required />
             </div>
           </form>
         </div>
    </div>
    <table ng-show="users" class="table table-striped">
        <thead>
        <tr>
            <td><label>Email</label></td>
            <td><label>State</label></td>
            <td><label>Quota</label></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | filter:includeRow">
            <td>{{user.email}}</td>
            <td>
                <span class="label label-default" ng-show="user.is_active">active</span>
                <span class="label label-warning" ng-hide="user.is_active">inactive</span>
                <span class="label label-primary" ng-show="user.is_admin">admin</span>
                <span class="label label-success" ng-show="user.is_group_owner">group owner</span>
                <span class="label label-danger" ng-show="user.is_deleted">deleted</span>
                <span class="label label-danger" ng-show="user.is_blocked">blocked</span>
            </td>
            <td>
                {{ credits_spent[user.id] | number }} / {{ user.credits_quota | number}}
            </td>
            <td>
                <button ng-click="make_group_owner(user)" type="submit" class="btn btn-default">{{ user.is_group_owner && 'Remove as Group Owner' || 'Make Group Owner' }}</button>
                <button ng-hide="user.is_deleted" ng-click="remove_user(user)" type="submit" class="btn btn-default">Remove</button>
                <button ng-click="open_quota_dialog([user])" type="submit" class="btn btn-default">Update quota</button>
                <button ng-hide="user.is_active" ng-click="get_activation_url(user)" type="submit" class="btn btn-default">Activation Link</button>
                <button ng-click="block_user(user)" type="submit" class="btn btn-default">{{ user.is_blocked && 'Unblock User' || 'Block User' }}</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
