<div class="jumbotron" ng-controller="NavbarController">
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h1 name="installation-name"><configurable-value key="INSTALLATION_NAME"></configurable-value></h1>
            <p name="installation-description"><configurable-value
                                    key="INSTALLATION_DESCRIPTION"></configurable-value></p>
        </div>
    </div>
    <div class="row" configurable-show key="ENABLE_SHIBBOLETH_LOGIN"
    name="shibboleth-login">
        <div class="col-md-6 col-xs-6">
            <p>
                <a href="/login"><img src="/img/haka.gif" alt="Haka login" /></a>
            </p>
        </div>
    </div>
    <div class="row" ><div class="col-md-6 col-xs-6" ng-show="!getLoginVisibility()">
        <p><a href="javascript:;" ng-click="toggleLoginVisibility()"
        name="click-show-login">Click here for alternate login</a></p>
        </div>
    </div>
    <div class="row" ng-show="getLoginVisibility()" name="password-login">
        <div class="col-md-6 col-xs-6">
            <h2>Login</h2>
            <form ng-submit="login()" >
              <div ng-show="invalidLogin()" class="form-group">
                  <span id="invalid-login" class="label label-default"><strong>Invalid login!</strong></span>
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" ng-model="email" placeholder="Email" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="password" id="password" name="password" ng-model="password" placeholder="Password" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-success" value="Sign in" />
              </div>
            </form>
            If you don't have access to your password, you
            can <a href="#/reset_password">reset it here</a>
        </div>
    </div>
    </div>
</div>
