[program:{{ application_name }}-worker-{{ item }}]
command = {{ virtualenv_path }}/bin/celery worker
    -n provisioning-worker-{{ item }}
    -A pebbles.tasks.celery_app
    -Ofair
    --loglevel={{ 'DEBUG' if deploy_mode == 'devel' else 'INFO' }}
    --concurrency=1
    --maxtasksperchild=50
    -Q provisioning_tasks-{{ item }}
directory = {{ application_path }}
user = {{ application_user }}
stdout_logfile = {{ celery_log_file }}
environment=PATH="{{ virtualenv_path }}/bin:%(ENV_PATH)s",HOME="/home/{{ application_user }}"
redirect_stderr = true
