[program:{{ application_name }}-worker]
command = {{ virtualenv_path }}/bin/celery worker
    -n worker
    -A pouta_blueprints.tasks
    -Ofair
    --loglevel={{ 'DEBUG' if deploy_mode == 'devel' else 'INFO' }}
    --concurrency=16
    -Q celery
directory = {{ application_path }}
user = {{ application_user }}
stdout_logfile = {{ celery_log_file }}
environment=PATH="{{ virtualenv_path }}/bin:%(ENV_PATH)s",HOME="/home/{{ application_user }}"
redirect_stderr = true
