<html ng-app="pebblesLoginErrorApp">
    <head>
        <script src="/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/js/vendor/angular.min.js"></script>
        <script src="/js/vendor/angular-local-storage.min.js"></script>


        <script type="text/javascript">
            angular.module('pebblesLoginErrorApp', ['LocalStorageModule'])
            .controller('HakaErrorController', function($location,
                        localStorageService) {
                var errors = localStorageService.get('errors');
                if (! errors) {
                    errors = [];
                }
                errors.push(["{{ error_title }}", "{{ error_description}}"]);
                localStorageService.set('errors', errors);
                window.location.assign("/");
            });
        </script>
    </head>
    <body ng-controller="HakaErrorController">
    </body>
</html>
