<html>
    <head>
        <script type="text/javascript">
            localStorage.setItem('user_name', '{{ username }}');
            localStorage.setItem('token', btoa('{{ token }}' + ":"));
            {% if is_admin %}
                localStorage.setItem('is_admin', true);
            {% endif %}
            {% if is_workspace_owner %}
                localStorage.setItem('is_workspaceOwner', true);
            {% endif %}
            {% if is_workspace_manager %}
                localStorage.setItem('is_workspaceManager', true);
            {% endif %}
            localStorage.setItem('user_id', '{{ userid }}');
            localStorage.setItem('icon_value', {{icon_value|safe}});
            window.location.assign("/dashboard");
        </script>
    </head>
    <body>
    </body>
</html>
