DEBUG: {{ application_debug_logging }}
SECRET_KEY: '{{ application_secret_key }}'
SQLALCHEMY_DATABASE_URI: '{{ application_database_uri }}'
M2M_CREDENTIAL_STORE: '{{ application_m2m_credentials_path }}'
{%  if public_ipv4 is defined %}
PUBLIC_IPV4: '{{ public_ipv4 }}'
{%  if docker_https_port is defined and docker_https_port!=443 %}
BASE_URL: 'https://{{ public_ipv4 }}:{{ docker_https_port }}/'
{% else %}
BASE_URL: 'https://{{ public_ipv4 }}/'
{% endif %}
{% endif %}
PUBLIC_HTTP_PROXY_PORT: {{ public_http_proxy_port }}
INTERNAL_HTTP_PROXY_PORT: {{ internal_http_proxy_port }}
{% if enable_shibboleth %}
ENABLE_SHIBBOLETH_LOGIN: True
{% endif %}
PROVISIONING_NUM_WORKERS: {{ provisioning_num_workers }}
