<div>
    <h1>Blueprints</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Life-time</td>
                <td>Description</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="blueprints != undefined && (blueprints | filter : {is_enabled: 'true'}).length">
                <td colspan="4">No blueprints</td>
            </tr>
            <tr ng-repeat="blueprint in blueprints | filter : { is_enabled: 'true' }">
                <td>{{ blueprint.name }}</td>
                <td><lifetime value="{{ blueprint.maximum_lifetime }}" maximum-lifetime="{{ blueprint.maximum_lifetime }}"/></td>
                <td>{{ blueprint.config.description }}</td>
                <td>
                    <a ng-click="provision(blueprint)" class="btn btn-primary" ng-hide="blueprint.config.needs_ssh_keys && !keypair_exists()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Launch
                    </a>
                    <span ng-show="blueprint.config.needs_ssh_keys && keypairs && !keypair_exists()">
                        To launch instances, first <a href="/#/account">add SSH keys</a>.
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h1>Instances</h1>
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
                        <input id="query" class="form-control" ng-model="query" placeholder="Filter instances"/>
                        <span class="input-group-addon">
                            Include deleted
                            <input type="checkbox" ng-click="updateInstanceList()" ng-model="include_deleted">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>State</td>
            <td>Blueprint</td>
            <td>User</td>
            <td>Access</td>
            <td>Life-time left</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="instances != undefined && instances.length">
                <td colspan="7">No instances</td>
            </tr>
            <tr ng-repeat="instance in instances | filter:query">
                <td><a href="#/instance_details/{{ instance.id }}"> {{instance.name}}</a></td>
                <td>{{instance.state}} {{ instance.error_msg ? " ("+instance.error_msg+")" : "" }}</td>
                <td>{{instance.blueprint}}</td>
                <td>{{instance.username}}</td>
                <td>
                    <a ng-show="['http', 'https'].indexOf(instance.instance_data['endpoints'][0]['name']) >= 0"
                       href="{{instance.instance_data['endpoints'][0].access}}" target="_blank">
                        Open in browser
                    </a>
                    <div ng-show="instance.instance_data['endpoints'][0]['name']=='SSH'">
                        {{ instance.instance_data['endpoints'][0].access }}
                    </div>
                </td>
                <td><lifetime value="{{ instance.lifetime_left }}" maximum-lifetime="{{ instance.maximum_lifetime }}"/></td>
                <td>
                    <button ng-click="deprovision(instance)" type="submit" class="btn btn-danger" ng-disabled="instance.state=='deleting'" >Destroy</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pull-right">
        <small><a href="/#/user-dashboard"><span class="glyphicon glyphicon-th-large"></span> view as user</a></small> 
    </div>


</div>
