<div>
    <h1>Configure Blueprints</h1>
    <h2>Plugins</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="plugins != undefined && plugins.length">
                <td colspan="2">No enabled plugins are reported by workers</td>
            </tr>

            <tr ng-repeat="plugin in plugins">
                <td>{{plugin.name}}</td>
                <td>
                    <button ng-click="openCreateBlueprintDialog(plugin)" class="btn btn-default">
                      Create Blueprint
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Blueprints</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="blueprints != undefined && (blueprints | filter : {is_enabled: 'true'}).length">
                <td colspan="3">No blueprints</td>
            </tr>

            <tr ng-repeat="blueprint in blueprints">
                <td>{{blueprint.name}}</td>
                <td><lifetime value="{{ blueprint.maximum_lifetime }}" maximum-lifetime="{{ blueprint.maximum_lifetime }}"/></td>
                <td>
                    <button ng-hide="blueprint.is_enabled" ng-click="activate(blueprint)" class="btn btn-primary">Activate</button>
                    <button ng-show="blueprint.is_enabled" ng-click="deactivate(blueprint)" class="btn btn-default">Deactivate</button>
                    <button ng-click="openReconfigureBlueprintDialog(blueprint)" class="btn btn-default">Reconfigure</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Notifications</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Subject</td>
            <td>Broadcasted</td>
            <td>Message</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-hide="notifications != undefined && notifications.length">
                <td colspan="4">No notifications</td>
            </tr>

            <tr ng-repeat="notification in notifications">
                <td>{{ notification.subject }}</td>
                <td>{{ notification.broadcasted | date:'medium' }}</td>
                <td>{{ notification.message }}</td>
                <td>
                    <button ng-click="openEditNotification(notification)" class="btn btn-primary btn-xs" type="button">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                    <button ng-click="deleteNotification(notification)" class="btn btn-danger btn-xs" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="openCreateNotification()">Add notification</button>


    <h2>Global variables</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2"><strong>Click values to edit</strong></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="variable in variables | filter : { readonly: false}">
            <td>
                {{ variable.key }}
            </td>
            <td>
            <editablefield
                model="variable.value"
                viewClass="info"
                edit-class="form-control"
                view-class="info"
                on-ready="updateVariable(variable)">{{ variable.value }}</editablefield>
            </td>
        </tr>
        <tr ng-hide="variables.length">
            <td colspan="2">No defined variables, run <code>manage.py syncconf</code> first</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2"><strong>Read-only variables</strong></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="variable in variables | filter : { readonly: true}">
            <td> {{ variable.key }}
            </td>
            <td> {{ variable.value }} </td>
        </tr>
        <tr ng-hide="variables.length">
            <td colspan="2">No defined variables, run <code>manage.py syncconf</code> first</td>
        </tr>
        </tbody>
    </table>
</div>
