<div>
    <h1>Configure Blueprints</h1>
    <h2>Plugins</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="plugin in plugins">
            <td>{{plugin.name}}</td>
            <td>
                <button ng-click="selectPlugin(plugin)" type="button" class="btn btn-default" data-toggle="modal" data-target="#blueprintCreate">
                  Create Blueprint
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Blueprints</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="blueprint in blueprints">
            <td>{{blueprint.name}}</td>
            <td><lifetime seconds="{{blueprint.max_lifetime}}"/></td>
            <td>
                <button ng-hide="blueprint.is_enabled" ng-click="activate(blueprint)" type="submit" class="btn btn-primary">Activate</button>
                <button ng-show="blueprint.is_enabled" ng-click="deactivate(blueprint)" type="submit" class="btn btn-default">Deactivate</button>
                <button ng-click="selectBlueprint(blueprint)" type="button" class="btn btn-default" data-toggle="modal" data-target="#blueprintConfig">Reconfigure</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Global variables</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="variable in variables">
            <td>
            <editablefield 
                model="variable.key"
                viewClass="info"
                editClass="form-control"
                on-ready="updateVariable(variable)">{{ variable.key }}</editablefield>
            </td>
            <td>
            <editablefield
                model="variable.value"
                viewClass="info"
                edit-class="form-control"
                view-class="info"
                on-ready="updateVariable(variable)">{{ variable.value }}</editablefield>
            </td>
        </tr>
        <tr ng-hide="variables.length">
            <td colspan="2">No defined variables, run <code>manage.py syncconf</code> first</td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="blueprintCreate" tabindex="-1" role="dialog" aria-labelledby="blueprintCreateLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Blueprint</h4>
          </div>
          <div class="modal-body">
            <form name="ngform">
              <div
                sf-model="selectedPlugin.model"
                sf-form="selectedPlugin.form"
                sf-schema="selectedPlugin.schema"/>
               <button class="btn btn-primary" ng-click="submitForm(ngform, selectedPlugin.model)">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="blueprintConfig" tabindex="-1" role="dialog" aria-labelledby="blueprintConfigLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Blueprint Config</h4>
          </div>
          <div class="modal-body">
            <form name="ngform2">
              <div
                class="form-activate"
                sf-model="selectedBlueprint.config"
                sf-form="selectedBlueprint.form"
                sf-schema="selectedBlueprint.schema"/>
              <button class="btn btn-primary" ng-click="updateBlueprint(ngform2, selectedBlueprint.config)">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
