<div>
    <h1>Dashboard</h1>


    <h2>Blueprints</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="blueprint in blueprints | filter : { is_enabled: 'true' }">
            <td>{{blueprint.name}}</td>
            <td>{{blueprint.max_lifetime}}</td>
            <td>
                <button ng-click="provision(blueprint)" type="submit" class="btn btn-default">Launch</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Instances</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>name</td>
            <td>state</td>
            <td>public IP</td>
            <td>Life-time left</td>
            <td>actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instance in instances">
            <td><a href="#/instance_details/{{ instance.id }}"> {{instance.name}}</a></td>
            <td>{{instance.state}} {{ instance.error_msg ? " ("+instance.error_msg+")" : "" }}</td>
            <td>{{instance.public_ip}}</td>
            <td>{{instance.lifetime_left}}</td>
            <td>
                <button ng-click="deprovision(instance)" type="submit" class="btn btn-danger" ng-disabled="instance.state=='deleting'" >Destroy</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
