<div ng-show="users">
    <h1>Groups</h1>

    <table class="table table-striped">
    <tbody>
    <tr>
    <button ng-click="openCreateGroupDialog()" class="btn btn-primary">Create A New Group</button>
    </tr>
    </tbody>
    </table>
    <h3>List of Available Groups</h3>
    <table ng-show="users" class="table table-striped">
        <thead>
        <tr>
            <td><label>Name</label></td>
            <td><label>Join Code</label></td>
            <td><label>Description</label></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groups | filter:includeRow">
            <td>{{group.name}}</td>
            <td>
                {{group.join_code}}
            </td>
            <td>{{group.description}}</td>
            <td>
                <button ng-click="openModifyGroupDialog(group)" type="submit" class="btn btn-default">Modify</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
