<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Group</h4>
</div>
<div class="modal-body">
    <form name="ngform">
      <div
          sf-model="groupsSF.model"
          sf-form="groupsSF.form"
          sf-schema="groupsSF.schema"/>

             <label for="userSelect">Select Users to Add</label>
             <div id="userSelect" ng-dropdown-multiselect="" options="userData" selected-model="user_config.userModel" extra-settings="userSettings"></div>
             <label for="userBanSelect">Select Users to Ban</label>
             <div id="userBanSelect" ng-dropdown-multiselect="" options="userData" selected-model="user_config.banUserModel" extra-settings="userSettings"></div>
             <label for="ownerSelect">Add extra admins (If needed)</label>
             <div id="ownerSelect" ng-dropdown-multiselect="" options="userData" selected-model="user_config.ownerModel" extra-settings="userSettings"></div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="createGroup(ngform, groupsSF.model, user_config)" class="btn btn-primary">Create</button>
    <button ng-click="cancel()" class="btn btn-default" >Close</button>
</div>
