<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Destroy Instance</h4>
</div>
<div class="modal-body">
<h4>Are you sure, you want to destoy your instance ?</h4>
<p>By clicking Yes, you understand that destroying the instance deletes all the unsaved data.</p>
</div>
<div class="modal-footer">
    <button ng-click="deprovision(instance)" class="btn btn-primary">Yes</button>
    <button ng-click="cancel()" class="btn btn-default" >No</button>
</div>
