<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Blueprint</h4>
</div>
<div class="modal-body">
    <form name="ngform">
        <div
          sf-model="plugin.model"
          sf-form="plugin.form"
          sf-schema="plugin.schema"/>

        </div>
    </form>
    <input id="test">Enter something</input>
</div>
<div class="modal-footer">
    <button ng-click="createBlueprint(ngform, plugin.model)" class="btn btn-primary">Create</button>
    <button ng-click="cancel()" class="btn btn-default" >Close</button>
</div>
