<div uib-collapse="navCollapsed" ng-controller="NavbarController" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li ng-class="{ active: isActive('/dashboard')}"><a ng-show="isLoggedIn()" href="#/dashboard">Dashboard</a></li>
    <li ng-class="{ active: isActive('/users')}"><a ng-show="isAdmin()" href="#/users">Users</a></li>
    <li ng-class="{ active: isActive('/configure')}"><a ng-show="isAdmin()" href="#/configure">Configure</a></li>
    <li ng-class="{ active: isActive('/admin-stats')}"><a ng-show="isAdmin()" href="#/admin-stats">Statistics</a></li>
    <li ng-class="{ active: isActive('/account')}" ><a ng-show="isLoggedIn()" href="#/account">Account</a></li>
  </ul>
  <div ng-show="isLoggedIn()" class="navbar-form navbar-right">
    <form ng-submit="logout()">
        <button id="logout" type="submit" class="btn btn-success">Log out</button>
    </form>
  </div>
   <div ng-show="isLoggedIn()" class="navbar-right">
   <p class="navbar-text">{{ getUserName() }}</p>
   </div>
</div>
