<div id="navbar" ng-controller="AuthController" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a ng-show="isLoggedIn()" href="#/dashboard">Dashboard</a></li>
    <li><a ng-show="isAdmin()" href="#/users">Users</a></li>
    <li><a ng-show="isAdmin()" href="#/configure">Configure</a></li>
    <li><a ng-show="isLoggedIn()" href="#/account">Account</a></li>
  </ul>
  <div ng-show="isLoggedOut()" class="navbar-form navbar-right">
    <form ng-submit="login()">
      <div class="form-group">
        <input type="email" id="email" name="email" ng-model="email" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" ng-model="password" placeholder="Password" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Sign in" />
      </div>
    </form>

  </div>
  <div ng-show="isLoggedIn()" class="navbar-form navbar-right">
    <form ng-submit="logout()">
        <button type="submit" class="btn btn-success">Log out {{ getUserName() }}</button>
    </form>
  </div>
</div>
