upstream gunicorn_api_server {
  server api:8888 fail_timeout=0;
}

{% if enable_shibboleth | bool %}
upstream apache_login_server {
  server apache_shibboleth fail_timeout=0;
}
{% endif %}

server {
    listen 80;
    server_name {{ domain }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen 443 ssl;

    access_log {{ nginx_access_log_file }};
    error_log  {{ nginx_error_log_file }};

    server_name {{ domain }};

    charset utf-8;

    ssl on;
    ssl_certificate           {{ nginx_ssl_crt }};
    ssl_certificate_key       {{ nginx_ssl_key }};

    client_max_body_size 20M;
    client_body_timeout 10s;
    client_header_timeout 10s;

    location /api {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        if (!-f $request_filename) {
            proxy_pass http://gunicorn_api_server;
            break;
        }
    }

    location / {
        alias {{ nginx_static_root }}/;
        autoindex off;
    }

    location /provisioning_logs {
        alias {{ provisioning_log_file_root }}/;
        autoindex off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
        alias {{ nginx_static_root }}/favicon.ico;
    }

{% if enable_shibboleth | bool %}
    location = /login {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass http://apache_login_server;
    }
{% endif %}

    include {{ frontend_proxy_config_dir }}/proxy.conf;

}
