[program:gunicorn_app]
command = {{ virtualenv_path }}/bin/gunicorn_start
directory = {{ application_path }}
user = {{ application_user }}
stdout_logfile = {{ application_log_file }}
redirect_stderr = true

[program:celery]
command = {{ virtualenv_path }}/bin/celery worker -A tasks --loglevel=INFO
directory = {{ application_path }}/resource_cloud
user = {{ application_user }}
stdout_logfile = {{ celery_log_file }}
redirect_stderr = true
