Listen {{ docker_http_port }}

{% if apache_enable_ssl %}
<IfModule ssl_module>
    Listen {{ docker_https_port }}
    Listen {{ docker_https_port_worker }}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{ docker_https_port }}
    Listen {{ docker_https_port_worker }}
</IfModule>
{% else %}

Listen {{ docker_http_port_worker }}

{% endif %}

