upstream wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server {{ proxy_bind_endpoint }} fail_timeout=0;
}

server {
    listen 80;
    server_name {{ domain }};
    return 301 https://{{ public_ipv4 }}$request_uri;
}

server {
    listen 443 ssl;

    access_log {{ nginx_access_log_file }};
    error_log  {{ nginx_error_log_file }};

    server_name {{ domain }};

    charset utf-8;

    ssl on;
    ssl_certificate           {{ nginx_ssl_crt }};
    ssl_certificate_key       {{ nginx_ssl_key }};

    location /api {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        # Unicorns are not dealing with static files
        if (!-f $request_filename) {
            proxy_pass http://wsgi_server;
            break;
        }
    }
    location / {
        alias {{ nginx_static_root }}/;
        autoindex off;
    }
    location /provisioning_logs {
        alias {{ provisioning_log_file_root }}/;
        autoindex off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
        alias {{ nginx_static_root }}/favicon.ico;
    }
}
