apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{name}}"
{% if ingress_class|d() %}
  annotations:
    kubernetes.io/ingress.class: "{{ingress_class}}"
{% endif %}
spec:
  rules:
    - host: "{{host}}"
      http:
        paths:
          - path: "{{path}}"
            pathType: ImplementationSpecific
            backend:
              service:
                name: "{{name}}"
                port:
                  number: 8888
