apiVersion: v1
kind: Secret
metadata:
  name: pvc-restore-secret-{{ pvc_name }}
  labels:
    application: pebbles-restore-pvc
stringData:
  s3cfg: ''
  encrypt-private-key: ''
  encrypt-private-key-passphrase: ''
