.view-animate-container {
  position:relative;
  height:1000px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter {
       -webkit-transition: 0.5s linear all; /* Chrome */
       transition: 0.5s linear all;
       opacity: 0;
}
     
.view-animate.ng-enter-active {
       opacity: 1;
}

/*
 * Note: Both ng-show and ng-hide directives trigger a ng-hide class value
 * remove is basically add in case of ng-show, as it would have an opposite effect!
 * In this example, the animation only works during the appearance of the div
 */
.dashbox.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:1s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}                        
