a.navbar-brand:focus {
    color: #9d9d9d !important;
}

a.navbar-brand:hover {
    color: #9d9d9d !important;
}

html,body {
    height:100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.table > thead > tr > th{
    border-bottom:0;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}

.panel-body {
    padding: 0;
}

.panel-body > .table{
    margin-bottom:0px;
}

.div-bottom {
    padding-bottom: 20px;

}
