a.navbar-brand:focus {
    color: #9d9d9d !important;
}

a.navbar-brand:hover {
    color: #9d9d9d !important;
}

.navbar-brand {
    width: 60%;
}

.navbar {
    border: none;
    min-height: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
} 

.navbar-inverse .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom,#002f5f 0,#002f5f 100%);
    box-shadow: inset 0px 8px #00a4eb;
}

.navbar-inverse .navbar-nav > .activeAdmin > a {
    background-image: linear-gradient(to bottom,#002f5f 0,#002f5f 100%);
    box-shadow: inset 0px 8px #00a4eb;
}

.navbar-inverse .navbar-text {
    color: #FFFFFF;
}

html,body {
    height:100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;

}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.table > thead > tr > th{
    border-bottom:0;
}

.table > thead > tr > th:last-of-type {
    border-right: 0px;
}

.table > tbody > tr > td:last-of-type {
    border-right: 0px;
}

.panel-body {
    padding: 0;
}

.panel-body > .table{
    margin-bottom:0px;
}

.div-bottom {
    padding-bottom: 20px;

}

.ng-invalid-email, .ng-invalid-match {
    border-color: #dca7a7;
}

.initial-input {
    margin-bottom: 5px;
}

/* Hack for bootstrap errors
 */
.form-control-feedback-hack{
    position: relative;
    display: inline;

}

.left-align {
   position: absolute;
   margin-left: -15%;
   left: 17%;
   right: 17%;
   margin-right: -15%;
}

.pad-with-container {
    padding-left: 15px;
}

#align-with-container {
    margin-left: 30px;
}

.pre-background {
    background-color: #FFFFFF;
    white-space: pre-wrap;
}

#admin-pre-background {
    white-space: pre-wrap;
}

#environments-note {
    background-image: none;
}

.sortorder thead {
    background-color: #DCDCDC;
    font: bold;
}

.sortorder thead tr td:nth-of-type(-n+3):hover {
   cursor: pointer;
   background-color: #777;
}

.make-bold {
    font-weight:bold;
}

.modal-scroll{
    padding-left: 20px;
    max-height: calc(100vh - 200px);
    overflow-x: auto;
}

.li-pad{
    padding-left: 40px;
}

.pagination > li > a{
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
}

.jumbotron {
    background: none;
    color: #FFFFFF;
}

.loginPage {

    background: url(../img/notebooks_bg_v2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #002f5f;
}

/* 
Hide the bg-image on mobile
*/
@media (max-width: 767px) {
    .loginPage {
        background: none;
        background-color: #002f5f;
    }
}

.nav-container {
    background-color: #002f5f;
}

.centered-btn {
    float: none;
    width: 100%;
}

#pw-reset {
    color: #5cb85c;
}

#alternate-login {
    color:#FFFFFF;
    text-decoration: underline;
}

.main-login-header {
    margin-top: 0px !important;
}

.default-form-color {
    color: #FFFFFF;
}

.default-form-btn {
    background-color: #002f5f;
    color: #FFFFFF;
    background-image: none;
}

.default-form-btn:hover {
    border-color: #FFFFFF;
    background-color: #002f5f;
}

.links-to>a {
    color: #5cb85c;
}

h3[name="short-description"],
p[name="installation-description"] {
    text-align: left;
}

/*
Hide elements when the device resolution
changes to avoid clipping in navbar.
*/
@media (max-width: 1214px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width: 991px) {
    .navbar-text {
        display: none;
    }
}

.no-margin {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

thead {
    font-weight: bold;
}

.stat-query {
    padding: 10px;
}

.disable-ng-hide-animate.ng-hide.ng-hide-animate {
    display: none;
}
