<VirtualHost *:80>

    ServerAdmin {{ apache_server_admin_email }}
    ServerName {{ domain }}

    DocumentRoot {{ apache_static_root }}

    <Location /api>
        # Thou shall not cache API calls
        Header set Cache-Control no-cache
        ProxyPass http://{{ proxy_bind_endpoint }}/api
        ProxyPassReverse http://{{ proxy_bind_endpoint }}/api
    </Location>

    <Directory {{ apache_static_root }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Require all granted
    </Directory>

    Alias /provisioning_logs {{ provisioning_log_file_root }}
    <Directory {{ provisioning_log_file_root }}>
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>

    ErrorLog {{ apache_error_log_file }}
    CustomLog {{ apache_access_log_file }} combined

</VirtualHost>

<VirtualHost *:1080>
    ServerAdmin {{ apache_server_admin_email }}
    ServerName {{ domain }}

    DocumentRoot {{ apache_static_root }}

    ProxyPass /api http://{{ proxy_bind_endpoint_worker }}/api
    ProxyPassReverse /api http://{{ proxy_bind_endpoint_worker }}/api

    ErrorLog {{ apache_worker_error_log_file }}
    CustomLog {{ apache_worker_access_log_file }} combined
</VirtualHost>
