<div ng-controller="AccountController">
    <h1>Account</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>SSH Keys</h2>
            <button ng-click="generate_key()" class="btn btn-lg btn-primary">Generate SSH Key</button>
            <a ng-show="key_downloadable()" id="content" download="resource_cloud.key" ng-href="{{key_url()}}">Download</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Change Password</h2>
            <form name="changePasswordForm" class="form-activate" ng-submit="update_password()">
                <input type="password" class="form-control" ng-model="user.password"  data-ng-class="{'ng-invalid':changePasswordForm.confirmPassword.$error.match}" placeholder="Password" required>
                <input type="password" class="form-control" name="confirmPassword" ng-model="user.passwordConfirm" match="user.password" placeholder="Verify password" required>
                <div data-ng-show="changePasswordForm.confirmPassword.$error.match" class="alert alert-danger" role="alert">Passwords do not match!</div>
                <div ng-show="change_password_msg_visible()" class="alert alert-info" role="alert">{{ change_password_msg() }}</div>
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="changePasswordForm.$invalid" type="submit">Change</button>
            </form>
        </div>
    </div>
</div>
