<div>
    <h1>Dashboard</h1>


    <h2>Services</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Type</td>
            <td>VCPUs</td>
            <td>Max life-time</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="service in services | filter : { is_enabled: 'true' }">
            <td>{{service.name}}</td>
            <td>{{service.vcpus}}</td>
            <td>{{service.max_lifetime}}</td>
            <td>
                <button ng-click="provision(service)" type="submit" class="btn btn-default">Launch</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Instances</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>name</td>
            <td>state</td>
            <td>public IP</td>
            <td>Life-time left</td>
            <td>actions</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="instance in instances">
            <td>{{instance.name}}</td>
            <td>{{instance.state}}</td>
            <td>{{instance.public_ip}}</td>
            <td>{{instance.lifetime_left}}</td>
            <td>
                <button ng-click="deprovision(instance)" type="submit" class="btn btn-danger" ng-disabled="instance.state=='deleting'" >Destroy</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
