<div ng-controller="DashboardController">
    <h1>Dashboard</h1>
    <table class="table table-striped">
        <thead>
            <tr><td>Email</td><td>Is active</td><td>Is admin</td></tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.email }}</td><td>{{ user.is_active }}</td><td>{{ user.is_admin}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Service</h1>
    <table class="table table-striped">
        <thead>
            <tr><td>Type</td><td>VCPUs</td><td>Max life-time</td><td></td></tr>
        </thead>
        <tbody>
            <tr ng-repeat="service in services">
                <td>{{ service.name }}</td><td>{{ service.vcpus }}</td><td>{{ service.max_life_time }}</td>
                <td><button ng-click="call_task()" type="submit" class="btn btn-success">Run provisioning</button></td>
            </tr>
        </tbody>
    </table>


</div>



