<div>
    <h1>Instance &quot;{{ instance.name }}&quot;</h1>
    <dl>
        <dt>ID:</dt>
        <dd>{{ instance.id }}</dd>
        <dt>Service:</dt>
        <dd>{{ service.name }}</dd>
        <dt>State:</dt>
        <dd>{{ instance.state }}</dd>
        <dt>Provisioned at:</dt>
        <dd>{{ instance.provisioned_at }}</dd>
        <dt>Lifetime left:</dt>
        <dd>{{ instance.lifetime_left }}</dd>
        <dt>Public IP:</dt>
        <dd>{{ instance.public_ip }}</dd>
        <dt>Logs:</dt>
        <dd ng-repeat="log in instance.logs">
            <a href="{{ log.url }}">{{ log.type }}</a>
        </dd>
    </dl>

    <div hidden="true">
        <pre>{{ logs['provisioning'] }}</pre>
        <button id="btnFetchLogs" ng-click="fetchLogs(instance)" type="submit" class="btn">Fetch log</button>
    </div>
</div>